.footer-container {
    padding: 1em 0;
    text-align: center;
    background-color: $white;

    .copyright {
        padding: 3em;
        font-size: 0.875em;
        font-weight: $xlight;
        color: $blacktext;
    }
}